@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

ul{
    list-style-type: none;
}

body{
    height: 100%;
    width: 100%;
}

.header{
    height: 10%;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    padding-bottom: 0%;
}

.navBar{
    max-width: 1100px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.8rem;
    font-weight: bold;
    color: #333333;
}

.logo img{
    width: 30px;
    height: 30px;
}

.nav{
    gap: 1rem;
    display: none;
    overflow: hidden;

}

@media screen and (min-width: 840px){
    .nav{
        display: flex;
    }
}

.navText{
    color: #718096;
    font-weight: 600;
    font-size: 1.125rem;
    transition-property: all;
    transition-duration: 0.1s;
}

.navText:hover{
    color: rgb(88, 88, 219);
}

.navButton{
    display: none;
    background-color: rgb(86, 86, 224);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition-duration: 0.2s;
}

@media screen and (min-width: 840px){
    .navButton{
        display: block;
    }
}

.navButton:hover{
    background-color: rgb(43, 43, 225);
}

.navButton:active{
    box-shadow: 2px 2px 5px blue;
    transform: scale(1.1);
}

.navButton a{
    color: white;
    font-weight: 600;
}

.menuButton{
    display: none;
}

@media screen and (max-width: 840px) {
    .menuButton{
        display: block;
        border: none;
        background-color: white;
        cursor: pointer;
    }
    .menuButton:hover{
        background-color: #dcdbdb;
        border-radius: 5px;
    }
    .nav.responsive {position: relative;}
    
    .nav.responsive ul {
        float: none;
        display: block;
        text-align: left;
  }

}

.menu-icon{
    height: 1.5rem;
    width: 1.5rem;
}


.content{
    width: 100%;
    height: 100%;
    margin-top: 4rem;
}

.main-section{
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    padding: 0 50px;
}

.rightcontent img{
    height: 450px;
    width: 470px;
    border-radius: 15px;
}

.leftcontent{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    animation: slideFromLeft 1.5s ease forwards;
    opacity: 0;
}

@keyframes slideFromLeft {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 100%;
        transform: translateX(0);
    }
}

.top-line{
    color: rgb(86, 86, 224);
    font-weight: bold;
    font-size: 0.9rem;
}

.leftcontent h1{
    font-size: 3.4rem;
    font-weight: 800;
}

.description{
    color: #718096;
    font-weight: 500;
    padding-right: 3rem;
}

.content-buttons{
    display: flex;
    margin-top: 1rem;
    gap: 1rem;

}

.start{
    color: white;
    background-color: rgb(86, 86, 224);
    padding: 0.6rem 1rem;
    border-radius: 5px;
}

.take{
    color: white;
    background-color: rgb(1, 1, 1);
    padding: 0.6rem 1rem;
    border-radius: 5px;
}

@media screen and (max-width: 840px) {
    .main-section{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .leftcontent{
        align-items: center;
        text-align: center;
        gap: 1rem;
    }

    .leftcontent h1{
        font-size: 2rem;
    }

    .description{
        padding-right: 0%;
        font-size: 0.8rem;
    }

    .content-buttons{
        justify-content: center;
    }

    .rightcontent img{
        height: 300px;
        width: 520px;
    }
}

@media screen and (min-width: 840px) and (max-width:1000px){
    .leftcontent h1{
        font-size: 2.5rem;
    }
    .main-section{
        gap: 1rem;
    }
    .rightcontent img{
        height: 400px;
        width: 420px;
    }
}


.info{
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    margin: 2rem 0;
    animation: slideFromLeft ease 1s forwards;
}

.info h2{
    text-align: center;
}

.social{
    width: 40%;
    background-color: #e1e6ee;
    padding: 1.5rem 1rem;
    margin: 0 auto;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 120px));
    justify-content: center;
    row-gap: 1rem;
}

/* S */

.logos{
    display: flex;
    gap: 5px;
}

.logos img{
    height: 20px;
    width: 20px;
}


.feature-container{
    width: 100%;
    height: fit-content;
    background-image: radial-gradient( circle 610px at 5.2% 51.6%,  rgba(5,8,114,1) 0%, rgba(7,3,53,1) 97.5% );
    padding: 1rem 0rem;
}

.content-main{
    width: 50%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    perspective: 1000px;
    animation: slideFromLeft1 1.5s ease forwards;
    /* animation-timeline: scroll(); */
    opacity: 0;

}

.feature-text{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
}

.card-container{
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    transform: rotate3d(0.5, -1, 0, 15deg) rotate(-1deg) scale(0.9);    
}


@keyframes slideFromLeft1 {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 100%;
        transform: translateX(0);
    }
}

@media screen and (max-width: 840px) {
    .card-container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
}



.cards{
    color: white;
    text-align: center;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 20px black;
}


.cards:hover::before{
    left: 0%; 
    
}

.cards::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: -100%;
    background-color: rgba(0,0,0,0.5);
    transition: all 2s linear ;
}

.cards img{
    height: 20px;
    width: 20px; 
}

.feature-img{
    border-radius: 50px;
    background-color: white;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards:nth-child(1){
    background-color: rgb(49, 49, 255);
}

.cards:nth-child(2){
    background-color: rgb(255, 91, 91);
}

.cards:nth-child(3){
    background-color: rgb(255, 172, 17);
}

.cards:nth-child(4){
    background-color: rgb(0, 183, 183);
}

.cards:nth-child(5){
    background-color: rgb(0, 167, 111);
}

.cards.cards:nth-child(6){
    background-color: rgb(91, 42, 91);
}


.test-container{
    height: fit-content;
    width: 100%;
}

.test-content{
    width: 70%;
    height: 100%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.test-content h1{
    font-size: 1.7rem;
}

.test-grid{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 840px) {
    .test-content{
        width: 50%;
    }
    .test-grid{
        grid-template-columns: 1fr;
    }
}

.test-box{
    border: 1px solid gray;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    transition: transform 0.5s ease-out;
}

.test-box:hover{
    transform: scale(1.05);
    border: 2px solid rgb(84, 53, 158);
}

.test-box img{
    height: 70px;
    width: 70px;
}

.test-detail h3{
    color: rgb(27, 27, 122);
}

.test-box p{
    font-size: 0.8rem;
    font-weight: 600;
    color: #4d545f;
}

.news-container{
    width: 100%;
    height: fit-content;
    margin: 2rem 0;
}

.news-content{
    width: 80%;
    height: 100%;
    background-image: linear-gradient(135deg, #b5b5b5 0%, #ffffff 100%);
    margin: 0 auto;
    display: flex;
    gap: 2rem;
}



.news-left{
    width: 50%;
    overflow: hidden;
}

.news-left img{
    height: 100%;
    width: 100%;
}

.news-left:hover img{
    transform: scale(1.1);
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: linear;
}

.news-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.news-title h2{
    color: rgb(40, 0, 199);
    font-weight: 800;
    font-size: 2rem;
}

.news-title p{
    color: #718096;
}

#email{
    border-radius: 5px;
    padding: 0.5rem;
    outline: none;
}

#email:focus{
    border-color: #2563eb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#email-btn{
    border-radius: 5px;
    padding: 0.6rem;
    background-color:  rgb(86, 86, 224);
    border-style: none;
    color: white;
}

.news-policy{
    color: #4d545f;
    font-size: small;
}

@media screen and (max-width: 840px) {
    .news-content{
        flex-direction: column;
        width: 60%;
    }    
    .news-left{
        width: 100%;
        height: 50%;
    }

    .news-right{
        width: 100%;
        height: 50%;
        padding: 1rem;
    }
}


.footer{
    width: 100%;
    height: fit-content;
}

@media screen and (max-width: 840px ) {
    .footer-content{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}

.footer-content{
    width: 80%;
    margin: 0 auto;
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-between;
    
}


.footer-left{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.footer-logo{
    display: flex;
    gap: 10px;
    align-items: center;
}
.footer-logo h3{
    font-weight: 800;
}

.footer-logo img{
    height: 30px;
}

.footer-social{
    display: flex;
    gap: 0.8rem;
}

.footer-right{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3rem;
    line-height: 2.8rem;
}

.footer-right h2{
    font-size: 1.2rem;
}

.footer-right a{
    color: #718096;
    font-weight: 600;
}

.copyright-content{
    width: 80%;
    padding: 1rem;
    margin: 0 auto;
}

.copyright-content p{
    font-size: small;
    text-align: center;
}
